* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: dapifer, serif;
	font-weight: 400;
	font-style: normal;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.navbar-brand {
	max-width: 75px;
}

.nav-item {
	font-family: dapifer, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2rem;
}

.fa-shopping-basket {
	font-size: 2rem;
}


@media screen and (min-width: 992px) {
	.hero {
		position: absolute;
		z-index: -999;
	 }
	.menuer {
		margin-top: 100px;
		background-color: rgba(46, 46, 46, 0.5);
		position: relative;
		width: 50%;
	}

	.goal {
		display: none;
	}
}

.indexProdImg {
	object-fit: cover;
	border-radius: 5px;
}

.menuer {
	height: 10%;
}
